{% extends "base.html" %} 
{% load static %}

{%block title %}
    {% if section == "home" %}
    Main Page
    {% elif section == "content-Experiencia" %}
    Experiencia Page
    {% endif %}
{% endblock %}

{% block content %}
    {% if section == "home" %}
        {% include "modalMain.html" %}
    {% elif section == "content-Experiencia" %}
        {% include "modalExp.html" %}
    {% elif section == "content-SobreMi" %}
        {% include "modalSobreMi.html" %}
    {% endif %}
{% endblock %}