{% load static %}

<div class="content">
    <div class="content-Holder">
        <p class="content-Content TopBottom">¡Hola!</p>
        <div class="arrow"></div>
        <p class="content-Content Square">¡Bienvenidos a mi portafolio!</p>
        <div class="arrow"></div>
        <p class="content-Content Note" id="openModal">¿Quién soy?</p>
        <div class="arrow"></div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="content-Experiencia">
            <div class="content-Page" onclick="this.closest('form').submit();">
                <div class="page-wave">Experiencia Laboral
                    <svg class="page-wave-border" viewBox="0 0 180 150" preserveAspectRatio="none">
                        <path d="M180,0 H0 V120 C60,170 120,85 180,130 Z" fill="none" stroke="black" stroke-width="2" />
                    </svg>
                </div>
            </div>
        </form>
        <div class="arrowPageConnection"></div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="content-SobreMi">
            <div class="content-PageSpecial" onclick="this.closest('form').submit();">
                <div class="page-wave">Sobre Mi
                    <svg class="page-wave-border" viewBox="0 0 180 150" preserveAspectRatio="none">
                        <path d="M180,0 H0 V120 C60,170 120,85 180,130 Z" fill="none" stroke="black" stroke-width="2" />
                    </svg>
                </div>
            </div>
        </form>
        <div class="arrowFinalMain"></div>
        <div class="justForBlankSpaceMain"></div>
        <p class="content-Content VolverBottom">¡Adiós!</p>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-content">
        <img src="{% static 'assets/bluePrismIcon.png' %}" class="modal-header-icon" width="35" height="25">
        <p class="modal-header">Propiedades de la Nota</p>
        <button class="close-btn" id="closeModal">&times;</button>
        <div class="modal-title-Container">
            <p class="modal-bp-attribute">Nombre:</p>
            <div class="modal-title-Badge">
                <p class="modal-title">¿Quién soy?</p>
            </div>
        </div>
        <div class="modal-body-Container">
            <p class="modal-bp-bodyattribute">Texto de la nota:</p>
            <div class="modal-body-Badge">
                <p class="modal-body">
                    Soy Bruno Morales, desarrollador RPA con Experiencia en Blue Prism y apasionado de Python.
                    Este portafolio fue creado con la simpática inteción de replicar la interfaz de Blue Prism, con
                    todas sus
                    cosas bonitas (como cosas feas)
                    Puede que sea complicado navegar por acá, así que guíate de las notas puntadas y los bloques
                    amarillos para explorar el contenido.
                    </br>
                    Dicho eso, ¡gracias por visitar mi portafolio!
                </p>
            </div>
        </div>
        <div class="modal-bp-buttons">
            <button class="modal-lower-btn closeModal">Aceptar</button>
            <button class="modal-lower-btn closeModal">Cancelar</button>
        </div>
    </div>
</div>

<script src="{% static 'scripts.js' %}"></script>